.content {
	width: 75%;
	margin: 50px auto 50px auto;
}
.content table {
	text-align: center;
}
#registrationModalLabel {
	width: 100%;
}
.table-users {
	width: 75%;
	margin: auto 12.5%;
	text-align: center;
}
.download-csv
{
	margin-left: 12.5%;
}