.content {
	width: 75%;
	margin: 50px auto 50px auto;
}
.content table {
	text-align: center;
}
.registration-label {
	width: 100%;
}
.table-users {
	width: 75%;
	margin: auto 12.5%;
	text-align: center;
}
.download-csv
{
	margin-left: 12.5%;
}
.login-button
{
	width: 12em;
}
.admin-logout
{
	position: absolute;
	right: 5%;
	font-size: 1em;
	font-weight: bold;
	top: 1%;
}